<%= link_to "Log Out", logout_path %>
<h1>Create a Bio</h1>

  <div class="page-contents">
    <div class="back-button">
      <%= link_to 'Go Back', descriptions_path %>
    </div>
    <%= form_for(@description, :url => {:action => :create, :controller => :descriptions} ) do |d| %>
  <div class="field">
    <%= d.label :header %><br>
    <%= d.text_field :header %>
  </div>
  <div class="field">
    <%= d.label :body %><br>
    <%= d.text_area :body %>
  </div>
  <div class="field">
    <%= d.label :photo %><br>
    <%= d.file_field :avatar %>
  </div>
  <div class="text-area">
    <%= d.label :text_wrap %><br>
    <%= d.check_box :check_box %>
  </div>
  <div class="actions">
    <%= d.submit "Create Bio" %>
  </div>
<% end %>
</div>