<div class="top-bar">
  <p><%= link_to "Log Out", logout_path %> | <%= link_to "Home", home_path %></p>
</div>
<div class="admin-container">
  <h1>Manage Your Songs</h1>
  <div class="side-menu">
    <%= link_to descriptions_path do %>
      <div class="option">
        <p>Artist Bio</p>
      </div>
    <% end %>
    <%= link_to posts_path do %>
      <div class="option">
        <p>News Posts</p>
      </div>
    <% end %>
    <%= link_to tourdates_path do %>
      <div class="option">
        <p>Shows</p>
      </div>
    <% end %>
    <%= link_to songs_path do %>
      <div class="option">
        <p>Music</p>
      </div>
    <% end %>
    <%= link_to vids_path do %>
      <div class="option">
        <p>Videos</p>
      </div>
    <% end %>
  </div>
  <div class="page-contents">
    <div class="new-entry">
      <%= link_to "Add New Track", addsong_path %>
    </div>
    <div class="song-list">
      <table>
      <thead>
        <tr>
        <th>Title</th>
        </tr>
        </thead>
        <% @song.each do |song| %>
        <tr>
        <td><%= song.title.truncate(50) %></td>
          <td><%= link_to 'Edit', edit_song_path(song) %></td>
          <td><%= link_to 'Delete', delete_song_path(song), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      </table>
    </div>
  </div>
</div>
