<!DOCTYPE html>
<head>
  <title>Project 2</title>
  <link rel="stylesheet" style="text/css" href="../../assets/stylesheets/style.css" >
</head>
<body>
  <div class="wrapper">
    <div class="header">
      <%= link_to(root_path) do %>
        <div class="logo">
        </div>
        <% end %>
      <div class="nav-social">
        <div class="social-icons">
          <ul>
            <li><a href=""><%= image_tag "facebook-icon.png" %></a></li>
            <li><a href=""><%= image_tag "twitter-icon.png" %></a></li>
            <li><a href=""><%= image_tag "instagram-icon.png" %><a/></li>
          </ul>
        </div>
        <div class="navigation">
          <ul>
            <li><a href="about">About</a></li>
            <li><%= link_to "News", news_path %></li>
            <li><%= link_to "Shows", shows_path %></li>
            <li><a href="music">Music</a></li>
            <li><a href="video">Video</a></li>
            <li><a href="photos">Photos</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="content">
        <h1>Photos</h1>
        <div id="instafeed">
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    var userFeed = new Instafeed({
        get: 'user',
        userId: 235120544,
        accessToken: '235120544.467ede5.9b8b433ff6aa4375ac0c5933fb4c1171',
        resolution: 'low_resolution',
        limit: 9
    });
    userFeed.run();
  </script>

</body>
</html>